---
const { text, icon, url } = Astro.props;
---

<li>
  <a
    href={url}
    class="hover:bg-lightModeCustomLinkBackground dark:hover:bg-darkModeCustomLinkBackground hover:text-lightModeCustomLinkTextHover dark:hover:text-darkModeCustomLinkTextHover flex items-center justify-center gap-2 rounded-full bg-transparent px-6 py-3 text-lg text-lightModeCustomLinkOutline dark:text-darkModeCustomLinkOutline ring-2 ring-lightModeCustomLinkOutline dark:ring-darkModeCustomLinkOutline transition-colors"
  >
    <slot />
  </a>
</li>
